version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: auth-service
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules  # Avoid overwriting node_modules with host
    environment:
      - NODE_ENV=development